{{> header}}

<section><!-- this is hacky, but we have sections in markdown, so we need to open and close it on wrapper -->
</section>

<section class="atlas-section">
<span class="atlas-anchor" id="h1-icons"></span>
<h1 class="atlas atlas-title atlas-title_1">
    <span class="atlas-title__text">
        Icons
    </span>
</h1>
</section>


{{> footer}}
