{{> header}}

<div class="atlas-stat-sizes-page-title">
    <div class="atlas-overline">
        <svg width="16" height="16" role="img">
            <use xlink:href="#icon-icons"></use>
        </svg>
        Icons
    </div>
    <div class="atlas-section">
        <h1 class="atlas atlas-title atlas-title_1">
            <span class="atlas-title__text">
                {{projectInfo.name}}
            </span>
        </h1>
    </div>
</div>

<section class="atlas-section">
<span class="atlas-anchor" id="h1-icons"></span>
<h1 class="atlas atlas-title atlas-title_1">
    <span class="atlas-title__text">
        Icons
    </span>
</h1>

<style>
.b-icons_example {
    font-family: arial;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;

}

.b-icons_example-item {
    border: 1px solid lightgrey;
    border-radius: 6px;
    padding: 10px 5px;
    flex-basis: 124px;
}

.b-icons_example-item svg {
    display: block;
    margin: 0 auto 10px;
    background: #dfdfdf;
}
</style>
<section>
    <ul class="b-icons_example">
        {{#content.documentation}}
        <li class="b-icons_example-item">
            <svg width="{{width}}" height="{{height}}">
                {{{paths}}}
            </svg>
            <p>
                ${{name}}<br />
                {{width}}px * {{height}}px
            </p>
        </li>
        {{/content.documentation}}
    </ul>
</section>

{{> footer}}
