{{#content.componentStats}}
    <div role="heading" class="atlas-welcome">
        <div class="atlas-welcome__column">
            <div role="heading" aria-level="1" class="atlas-welcome__title">
                Welcome to <strong>{{projectName}}</strong> atlas
            </div>
        </div>
    </div>
{{/content.componentStats}}
